<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://www.taobao.com/" class="link" target="_blank">淘宝网</a> |
            <a href="https://www.jd.com/" class="link" target="_blank">京东网</a> |
            <a href="https://www.amazon.com/" class="link" target="_blank">亚马逊</a>
        </div>
        <p class="copyright">
            Copyright © 2022 mystore.com All Right Reserverd
        </p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>